---
# General Style
Language: Cpp
Standard: Latest
ColumnLimit: 120
UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4

# Formatting Options
# RequiresClausePosition: OwnLineWithBrace
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveDeclarations: true
AlignOperands: DontAlign
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Yes
BreakConstructorInitializers: AfterColon
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentRequires: true
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: OuterScope
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: true
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
SpacesInAngles: false
SpacesInParentheses: false
SortUsingDeclarations: true

# Include Management
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  # C System Headers (<*.h>)
  - Regex:           '^<.*\\.h>$'
    Priority:        1
  # C++ System Headers (<...>)
  - Regex:           '^<[a-zA-Z0-9_]+>$'
    Priority:        2
  # Arduino Headers
  - Regex:           '^(Arduino|esp_).*\\.h'
    Priority:        10
  # Project Headers (".h", ".hpp")
  - Regex:           '.*\.(h|hpp)$'
    Priority:        20
  # Catch-all for any other includes
  - Regex:           '.*'
    Priority:        100