---
# General Style
Language: Cpp
Standard: Cpp17
ColumnLimit: 120
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4

# Formatting Options
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AlignOperands: Align
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInParentheses: false

# Include Management
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  # C System Headers (<*.h>)
  - Regex:           '^<.*\\.h>$'
    Priority:        1
  # C++ System Headers (<...>)
  - Regex:           '^<[a-zA-Z0-9_]+>$'
    Priority:        2
  # Arduino Headers
  - Regex:           '^(Arduino|esp_).*\\.h'
    Priority:        10
  # Project Headers (".h", ".hpp")
  - Regex:           '.*\.(h|hpp)$'
    Priority:        20
  # Catch-all for any other includes
  - Regex:           '.*'
    Priority:        100