*.gch
*.o
*.s
*.xpp
a.out
example*
buildNotes.txt
output.wat
packetData.txt
serialDataDumpTest.py
serialParseTest.py
serialReader.xcpp
simpleNNTest.py
test.xcpp
test_runner
*.sqlite*
.depthai_cached_models
TestFrames
documentation/public
.hugo_build.lock
build
junk_*